@model IEnumerable<VyBillettBestilling.ViewModels.Passasjer>

<table class="table tabellbakgrunn table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rabatt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typenavn)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rabatt) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typenavn)
            </td>
            <td>
                @Html.ActionLink("Rediger", "PassasjertyperEdit", new { id = item.ptypId}, new { @class = "btn btn-primary"})
            </td>
        </tr>
    }
</table>
