@model VyBillettBestilling.ViewModels.Stasjon


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rediger stasjon</title>
</head>
<body>

    <!-- Dersom denne ikke er her setter mvc ID til 0, noe som knekker databasekoden -->
    <input type="hidden" value="@Model.id" name="id" />
    <input type="hidden" value="@Model.hovedstrekning_Ider" name="hovedstrekning_Ider" />
    <link href="~/Content/Admin.css" rel="stylesheet">
    <div class="generell-bg femti">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Rediger stasjon</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.stasjon_navn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.stasjon_navn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.stasjon_navn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.stasjon_sted, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.stasjon_sted, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.stasjon_sted, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.breddegrad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.breddegrad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.breddegrad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.lengdegrad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.lengdegrad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.lengdegrad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Nett</label>
                        <div class="col-md-10">
                            <select id="nett_id" name="nett_id">
                                @{
                                    foreach (VyBillettBestilling.Model.Nett nett in ViewBag.Nett)
                                    {
                                        if (nett.id == Model.nett_id)
                                        {
                                            <option value="@nett.id" selected>
                                                @nett.nett_navn
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@nett.id">
                                                @nett.nett_navn
                                            </option>

                                        }
                                    }
                                }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lagre" class="btn btn-primary" />
                            @Html.ActionLink("Tilbake til liste", "StasjonsListe", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>
