@model VyBillettBestilling.ViewModels.Stasjon

@{
    ViewBag.Title = "Stasjonsdetaljer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stasjonsdetaljer</title>
</head>
<body>
    <link href="~/Content/Admin.css" rel="stylesheet">
    <div class="generell-bg femti">
        <div class="container">
        <div>
            <h4>Stasjon</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.stasjon_navn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stasjon_navn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.stasjon_sted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stasjon_sted)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.breddegrad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.breddegrad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lengdegrad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lengdegrad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nett_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nett_id)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Rediger", "StasjonEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Tilbake til Liste", "StasjonsListe", null, new { @class = "btn btn-primary" })
        </p>
 </div>   
    </div>
</body>
</html>
