@model VyBillettBestilling.ViewModels.Hovedstrekning

@{
    ViewBag.Title = "Detaljer";
}

<link href="~/Content/Admin.css" rel="stylesheet">
<div class="container-fluid">
    <div class="bg femti ">
        <div class="container">
            <div>
                <h4>Hovedstreknings detaljer</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.hovstr_navn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.hovstr_navn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.hovstr_kortnavn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.hovstr_kortnavn)
                    </dd>

                    <dt>
                        Nettnavn
                    </dt>
                    <dd>
                        @ViewBag.nett.nett_navn
                    </dd>
                    <dt>
                        Stasjoner
                    </dt>
                    <dd>
                        @if (Enumerable.Count(ViewBag.stasjoner) > 0)
                        {
                            <div class="scrollable">
                                <table>
                                    @foreach (VyBillettBestilling.Model.Stasjon stasjon in ViewBag.stasjoner)
                                    {
                                        <tr>
                                            <td>
                                                @stasjon.stasjon_navn
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="container">Ingen stasjoner på strekningen</div>
                        }
                    </dd>
                </dl>
            <p>
                @Html.ActionLink("Rediger", "StrekningEdit", new { id = Model.id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Tilbake til liste", "StrekningsListe", null, new { @class = "btn btn-primary" })
            </p>
            </div>
        </div>
    </div>
</div>
