@model List<VyBillettBestilling.ViewModels.RuteView>

@{
    ViewBag.Title = "Bestilling";
}

@section Styles
        {
    <link href="@Url.Content("~/Content/Bestilling.css")" rel="stylesheet" type="text/css" />
}

<body>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Pages/Bestilling.js")'></script>
    <div class="bg container femti">
        <h2>Bestilling</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="text-color-white table tabellbakgrunn table-bordered" id="MuligeReiser">
                <thead>
                    <tr>
                        <th>Reise</th>
                        <th>Avreise</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (var i = 0; i < 7; i++)
                        {
                            <tr>
                                <td>@Model[i].StartNavn - @Model[i].StoppNavn</td>
                                <td>
                                    @Model[i].DateTime.ToShortDateString()<br />
                                @Model[i].DateTime.ToShortTimeString()
                            </td>
                            <td>
                                <a onclick="LeggIHandleKurv(@Model[i].StoppId, @Model[i].StartId, @Model[i].AntallVoksne, @Model[i].AntallBarn, @Model[i].AntallStudent, @Model[i].AntallHonnor , @Model[i].DateTime.Ticks)"
                                   value="Legg i kurven" class="btn btn-primary" id="bestillingsknapp">Kjøp</a>

                                <!--
                                <input type="button" class="btn btn-primary" value="Detaljer">
                                    -->
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div id="dialog-error" title="Feil">
        <p>
            <span style="float:left; margin:12px 12px 20px 0;"></span>
            Du må velge et tidspunkt senere enn nåværende
        </p>
    </div>

    <div id="dialog-confirm" title="Info">
        <p>
            <span style="float:left; margin:12px 12px 20px 0;"></span>
            Hvordan vil du fortsette?
        </p>
    </div>
</body>


